<html>
    <head>
        <title>Library Database</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
    </head>
    <body>
        <div class="container">
            <h2>List of Authors</h2>
            {% if authors is not empty %}
                <p>Here are all your authors:</p>
                <ul class="list-group">
                    {% for author in authors %}
                        <li class="list-group-item"><a href="/authors/{{ author.getId }}">{{ author.getAuthorName }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}

            <div class="submit-form">
                <form action='/author' method='post'>
                    <label for='author_name'>Author Name</label>
                    <input id='author_name' name='author_name' type='text'>

                    <button class="btn btn-default" type='submit'>Add Author</button>
                </form>

                <form action='/delete_authors' method='post'>
                    <button class="btn btn-default" type='submit'>Clear</button>
                </form>
            </div>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
