<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
        <title>Library Database</title>
    </head>
    <body>
        <div class="container">
            <h2>Welcome to the Library Database</h2>
            <div class="row">
                <div class="col-xs-6" style="text-align:center;">
                    <form action='/books' method='get'>
                        <button class="btn btn-default" type='submit'>Books</button>
                    </form>
                    <p>Edit or view Books</p>
                </div>
                <div class="col-xs-6" style="text-align:center;">
                    <form action='/authors' method='get'>
                        <button class="btn btn-default" style="padding-right:20px;padding-left:20px;" type='submit'>Authors</button>
                    </form>
                    <p>Edit or view Authors</p>
                </div>
            </div>
        </div>
    </body>
</html>
